<template>
  <button :type="type" :class="`btn btn-${this.color} me-2`">
    <i :class="`pe-1 bi bi-${this.icon}`"></i>{{ label }}
  </button>
</template>

<script>
export default {
  props: {
    label: String,
    color: String,
    icon: String,
    type: String,
  },
}
</script>

<style></style>