<template>
  <div :class="`${this.divClass}`">
    <TheLabel :label="label" :required="required" />
    <div class="input-group mb-3">
      <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
      <input class="form-control datepicker_input" type="text" :placeholder="placeholder" />
    </div>
  </div>
</template>

<script>
import TheLabel from '@/components/views/TheLabel.vue'

export default {
  name: "TheInputGroup",

  components: {
    TheLabel
  },

  props: {
    divClass: String,
    label: String,
    required: Boolean,
    placeholder: String,
  },
}
</script>

<style>

</style>