<template>
  <div :class="`mb-3 ${this.divClass}`">
    <p class="form-label">{{ divLabel }}</p>
    <div v-for="(option, index) in options" :key="index" class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        :id="option.value"
        :value="option.value"
      />
      <label class="form-check-label" :for="option.value"> {{ option.label }} </label>
    </div>
  </div>
</template>

<script>
export default {
  name: "TheRadio",

  props: {
    divClass: String,
    divLabel: String,
    options: Array,
  }
}
</script>

<style></style>