<template>
  <div :class="`mb-3 ${this.divClass}`">
    <TheLabel :label="label" :required="required" />
    <input
      class="form-control"
      :type="type"
      :placeholder="placeholder"
      :maxlength="maxlength"
    />
  </div>
</template>

<script>
import TheLabel from '@/components/views/TheLabel.vue'

export default {
  name: "TheInput",

  props: {
    required: Boolean,
    divClass: String,
    label: String,
    type: String,
    placeholder: String,
    maxlength: String,
  },

  components: {
    TheLabel
  },
}
</script>

<style></style>