<template>
  <div :class="`mb-3 ${this.divClass}`">
    <TheLabel :label="label" :required="required" />
    <div class="input-group">
      <span class="input-group-text"><i :class="`bi bi-${this.icon}`"></i></span>
      <input
        class="form-control"
        :type="type"
        :name="name"
        :placeholder="placeholder"
        :maxlength="maxlength"
      />
    </div>
  </div>
</template>

<script>
import TheLabel from '@/components/views/TheLabel.vue'

export default {
  name: "TheInputGroup",

  components: {
    TheLabel
  },

  props: {
    icon: String,
    placeholder: String,
    type: String,
    maxlength: String,
    label: String,
    required: Boolean,
    divClass: String,
    name: String,
  },
}
</script>

<style></style>