<template>
  <div class="modal fade" ref="modalPattern" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h4 class="modal-title fs-5 text-white" id="modalConfirmTitle">{{ modalTitle }}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span>{{ modalMessage }}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal"
            @click="removeItem(item)">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "modalPattern",

  props: {
    modalTitle: String,
    modalMessage: String
  }
}
</script>

<style></style>