<template>
  <div :class="divClasses">
    <TheLabel :label="label" :required="required" />
    <select class="form-select">
      <option v-for="(item, index) in items" :key="index">{{ item.label }}</option>
    </select>
  </div>
</template>

<script>
import TheLabel from '@/components/views/TheLabel.vue'

export default {
  name: "TheSelect",

  props: {
    divClass: String,
    label: String,
    required: Boolean,
    items: Array,
  },

  components: {
    TheLabel
  },

  computed: {
    divClasses() {
      return `mb-3 ${this.divClass}`
    }
  }
}
</script>

<style>

</style>