<template>
  <section class="pb-3">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-12">
          <h4>{{ title }}</h4>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: String
  }
}
</script>

<style></style>