<template>
  <div class="row table-responsive text-nowrap px-3 pt-1 mb-3">
    <table class="table table-striped table-hover table-bordered ">
      <thead class="table-light">
        <tr>
          <th v-for="(header, index) in headers" :key="index"> {{ header.label }}</th>
          <th v-if="actions" style="width: 10%">Ações</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr v-for="(item, index) in items" :key="index">
          <td v-for="(header, indexHeader) in headers" :key="indexHeader">{{ item[header.value] }}</td>
          <td v-if="actions">
            <div class="text-center">
              <i class="bi bi-pencil-fill text-secondary px-1" style="cursor: pointer"></i>
              <i class="bi bi-trash-fill text-danger px-1" style="cursor: pointer" @click="modalConfirm.show()"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-6 col-sm-6 col-md-2 px-3">
      <TheButton
        type="button"
        label="Novo"
        color="primary"
        icon="plus-lg"
        @click="goTo(path)"
      />
    </div>
  </div>

  <TheModal
    ref="modalConfirm"
    modalTitle="Confirmação"
    modalMessage="Deseja realmente excluir o registro ?"
  />

</template>

<script>
import { Modal } from 'bootstrap'
import TheModal from '@/components/views/TheModal.vue'
import TheButton from '@/components/views/TheButton.vue'

export default {
  components: {
    TheModal,
    TheButton,
  },

  props: {
    headers: { type: Array, required: true },
    items: Array,
    actions: { type: Boolean, default: true },
    path: String,
  },

  data: () => ({
    Modal: null,
  }),

  methods: {
    removeItem(item) {
      this.items.splice(this.items.indexOf(item), 1);
    },

    goTo(path) {
      this.$router.push({ name: path });
    },
  },

  mounted() {
    this.modalConfirm = new Modal(this.$refs.modalConfirm.$refs.modalPattern)
  }
}
</script>

<style></style>