<template>
  <div :class="`mb-3 ${this.divClass}`">
    <TheLabel :label="label" :required="required" />
    <textarea
      class="form-control"
      :placeholder="placeholder"
      :rows="rows"
      :maxlength="maxlength"
    />
  </div>
</template>

<script>
import TheLabel from '@/components/views/TheLabel.vue'

export default {
  name: "TheInput",

  components: {
    TheLabel,
  },

  props: {
    placeholder: String,
    maxlength: String,
    label: String,
    required: Boolean,
    divClass: String,
    rows: String,
  },
}
</script>

<style></style>