<template>
  <TheTitle title="Outros Exemplos" />
  <div class="card card-body">
    <div class="row">
      <TheInput
        divClass="col-md-2"
        type="text"
        placeholder="000000"
        v-mask="'######'"
        label="Números"
        :required="false"
      />
      <TheInput
        divClass="col-md-2"
        type="text"
        placeholder="0,00"
        v-money="decimal"
        label="Decimal"
        :required="false"
      />
      <TheInputGroup
        divClass="col-md-2"
        type="text"
        icon="currency-dollar"
        placeholder="0,00"
        v-money="money"
        label="Moeda"
        :required="false"
      />
      <TheRadio
        divClass="col-md-3"
        divLabel="Botões Radio"
        name="rd_option"
        :options="optionsRadio"
      />
      <TheCheck
        divClass="col-md-3"
        divLabel="Botões Check"
        :options="optionsCheck"
      />
    </div>
  </div>
</template>

<script>
import { VMoney } from 'v-money'
import TheTitle from "@/components/views/TheTitle.vue"
import TheInput from "@/components/views/TheInput.vue"
import TheInputGroup from "@/components/views/TheInputGroup.vue"
import TheRadio from "@/components/views/TheRadio.vue"
import TheCheck from "@/components/views/TheCheck.vue"

export default {
  name: "Sample",

  directives: {
    decimal: VMoney,
    money: VMoney
  },

  components: {
    TheTitle,
    TheInput,
    TheInputGroup,
    TheRadio,
    TheCheck,
  },

  data: () => ({
    decimal: {
      decimal: ',',
      thousands: '.',
      precision: 3,
    },

    money: {
      decimal: ',',
      thousands: '.',
      precision: 2,
    },

    optionsRadio: [
      { "value": "01", "label": "Opção 01" },
      { "value": "02", "label": "Opção 02" },
    ],

    optionsCheck: [
      { "value": "01", "label": "Opção 01" },
      { "value": "02", "label": "Opção 02" },
    ],
  }),
}
</script>

<style></style>