<template>
  <aside :class="menuClasses" id="sidebarMenu">
    <div class="position-sticky pt-3 sidebar-sticky" style="min-width: 100px;">
      <div id="sidebar-header">
        <div class="sidebar-title text-center">
          <div class="text-white text-decoration-none">
            <span class="fs-5">Nome Aplicação</span>
          </div>
        </div>
      </div>
      <hr>
      <TheSideMenu :menuList="menuList" />
    </div>
  </aside>
  <div id="content" class="col text-bg-light min-vh-100 p-0 container-fluid">
    <nav class="navbar text-bg-dark">
      <div class="container-fluid py-2">
        <i id="bt-togglevertical" class="bi bi-list header_toggle" data-bs-toggle="collapse"
          data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"></i>
        <i id="sidebarToggle" class="bi bi-list header_toggle" @click="this.sidebarHide = !this.sidebarHide"></i>
        <img src="../assets/softwaresul_logo.png" width="100">
      </div>
    </nav>
    <div class="p-3">
      <router-view />
    </div>
  </div>
</template>

<script>
import TheSideMenu from '@/components/TheSideMenu.vue'

export default {
  components: {
    TheSideMenu,
  },

  data: () => ({
    sidebarHide: false,
    menuList: [
      {
        title: 'Ordens',
        status: false,
        icon: 'bi-file-earmark-text-fill',
        children: [
          {
            code: 'order_new',
            title: 'Novas',
            icon: 'bi-file-earmark-plus-fill',
            status: false,
          },
          {
            code: 'order_processed',
            title: 'Processadas',
            icon: 'bi-file-earmark-break-fill',
            status: false,
          },
          {
            code: 'order_returned',
            title: 'Retornadas',
            icon: 'bi-file-earmark-check-fill',
            status: false,
          }
        ]
      },
      {
        title: 'Cadastros',
        status: false,
        icon: 'bi bi-pencil-square',
        children: [
          {
            code: 'accountant',
            title: 'Contabilista',
            icon: 'bi-person-fill',
            status: false,
          },
        ]
      },
      {
        title: 'Foundation',
        status: false,
        icon: 'bi bi-gear-wide',
        children: [
          {
            code: 'company',
            title: 'Empresa',
            icon: 'bi-building-fill',
            status: false,
          },
          {
            code: 'processing_monitor',
            title: 'Monitor de Processamento',
            icon: 'bi-pie-chart-fill',
            status: true,
          }
        ]
      },
      {
        code:'sample',
        title: 'Outros Exemplos',
        status: false,
        icon: 'bi bi-circle',
        children: []
      },
    ]
  }),

  computed: {
    menuClasses() {
      let classes = "col-md-4 col-lg-3 col-xl-2 d-md-block text-bg-dark sidebar collapse "

      if (this.sidebarHide) { classes += "sidebar-hidden" }
      return classes
    }
  }
}

</script>

<style>
.item-firstLevel:hover {
  color: #000;
  background-color: #8dc4f1;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #acacac;
}

.btn-toggle::after {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(450deg);
}

</style>