<template>
  <div>
    <ul class="nav nav-pills flex-column">
      <li v-for="(menuItem, i) in menuList" :key="i" class="nav-item">
        <a
          href="#"
          :class="menuItemClasses(menuItem)"
          data-bs-toggle="collapse"
          :aria-expanded="menuItem.status"
          @click.prevent="this.navItemCollapse(i); goTo(menuItem.code)"
        >
          <i :class="menuItemIcon(menuItem)"></i>
          <span class="sidebar-item-title">{{ menuItem.title }}</span>
          <span class="ms-auto"></span>
        </a>
        <div v-if="menuItem.children.length > 0" :class="divSubItemClasses(menuItem)">
          <ul class="btn-toggle-nav list-unstyled fw-normal p-1">
            <li v-for="(subItem, j) in menuItem.children" :key="j" class="nav-item">
              <a
                href="#"
                :class="menuSubItemClasses(subItem)"
                @click.prevent="goTo(subItem.code)"
              >
                <i :class="subItem.icon" class="me-2"></i>
                {{ subItem.title }}
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  props: {
    menuList: Array
  },

  methods: {
    navItemCollapse(index) {
      this.menuItems = this.menuList.map((item, i) => {
        item.status = !item.status
        if (i !== index) item.status = false

        return item
      })
    },

    divSubItemClasses(menuItem) {
      let classes = "collapse"

      if (menuItem.status) classes += "show"
      return classes
    },

    menuItemClasses(menuItem) {
      let classes = "item-firstLevel nav-link text-white hstack gap-1 "

      if (menuItem.status) classes += "active "
      if (menuItem.children.length > 0) classes += "btn-toggle "

      return classes;
    },

    menuSubItemClasses(subItem) {
      let classes = "nav-link text-white hstack gap-3 "
      // if (subItem.status) classes += "active"

      return classes;
    },

    menuItemIcon(menuItem) {
      let classes = `${menuItem.icon} me-2`
      return classes
    },

    goTo(code) {
      this.$router.push({ name: code })
    },
  },
}
</script>

<style></style>