<script setup>
  import { onMounted } from 'vue';
  import "../../../node_modules/vanillajs-datepicker/dist/css/datepicker.min.css"
  import ptBR from "../../../node_modules/vanillajs-datepicker/js/i18n/locales/pt-BR"
  import Datepicker from "vanillajs-datepicker/Datepicker"

  Object.assign(Datepicker.locales, ptBR);

  onMounted(() => {
    const elements = document.querySelectorAll('.datepicker_input');

    for (const element of elements) {
      const datepicker = new Datepicker(element, {
        'format': 'dd/mm/yyyy',
        'autohide': true,
        'todayBtn': true,
        'todayBtnMode': 1,
        'todayHighlight': true,
        'language': 'pt-BR'
      });
    }
  })
</script>

<template>
  <TheTitle title="Cadastro de Contabilista" />
  <div class="card card-body">
    <form ref="formAccountantNew">
      <div class="row">
        <TheInput
          divClass="col-md-6"
          type="text"
          placeholder="Nome completo"
          maxlength="100"
          label="Nome"
          :required="true"
        />
        <TheInput
          divClass="col-md-3"
          type="text"
          placeholder="CPF ou CNPJ"
          maxlength="18"
          v-mask="['##.###.###/####-##', '###.###.###-##']"
          label="CPF / CNPJ"
          :required="true"
        />
        <TheInput
          divClass="col-md-3"
          type="text"
          placeholder="CRC"
          maxlength="13"
          label="CRC"
          :required="false"
        />
        <TheInput
          divClass="col-md-2"
          type="text"
          placeholder="00000-000"
          maxlength="9"
          v-mask="['#####-###']"
          label="CEP"
          :required="true"
        />
        <TheInput
          divClass="col-md-5"
          type="text"
          placeholder="Endereço e Complemento"
          maxlength="100"
          label="Endereço"
          :required="true"
        />
        <TheInput
          divClass="col-md-4"
          type="text"
          placeholder="Bairro"
          maxlength="50"
          label="Bairro"
          :required="true"
        />
        <TheInput
          divClass="col-md-1"
          type="text"
          v-mask="'####'"
          placeholder="0000"
          maxlength="4"
          label="Nº"
          :required="false"
        />
        <TheSelect
          divClass="col-md-2"
          label="UF"
          :required="true"
          :items="itemsUf"
        />
        <TheInput
          divClass="col-md-4"
          type="text"
          placeholder="Cidade"
          maxlength="50"
          label="Cidade"
          :required="true"
        />
        <TheInput
          divClass="col-md-4"
          type="text"
          placeholder="email@email.com"
          maxlength="50"
          label="E-mail"
          :required="true"
        />
        <TheInput
          divClass="col-md-2"
          type="text"
          v-mask="['(##) ####-####', '(##) #####-####']"
          placeholder="(00) 00000-0000"
          maxlength="15"
          label="Telefone"
          :required="true"
        />
        <TheCalendar
          divClass="col-md-3"
          type="text"
          placeholder="00/00/0000"
          v-mask="'##/##/####'"
          label="Início Validade"
          icon="bi-calendar3"
          :required="true"
        />
        <TheCalendar
          divClass="col-md-3"
          type="text"
          placeholder="00/00/0000"
          v-mask="'##/##/####'"
          label="Fim Validade"
          icon="bi-calendar3"
          :required="false"
        />
        <TheTextArea
          divClass="col-12"
          placeholder="Observações Adicionais"
          rows="3"
          maxlength="1000"
          label="Observações"
          :required="false"
        />
      </div>
      <div class="row">
        <TheRequiredLabel />
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <TheButton
            type="submit"
            label="Salvar"
            color="primary"
            icon="check2"
          />
          <TheButton
            type="button"
            label="Cancelar"
            color="outline-danger"
            icon="x-lg"
            @click="goTo(path)"
          />
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import TheTitle from "@/components/views/TheTitle.vue"
import TheInput from "@/components/views/TheInput.vue"
import TheInputGroup from "@/components/views/TheInputGroup.vue"
import TheTextArea from "@/components/views/TheTextArea.vue"
import TheSelect from "@/components/views/TheSelect.vue"
import TheCalendar from "@/components/views/TheCalendar.vue"
import TheButton from "@/components/views/TheButton.vue"
import TheRequiredLabel from "@/components/views/TheRequiredLabel.vue"

export default {
  name: "accountantNew",

  components: {
    TheTitle,
    TheInput,
    TheInputGroup,
    TheTextArea,
    TheSelect,
    TheCalendar,
    TheButton,
    TheRequiredLabel,
  },

  data: () => ({
    itemsUf: [
      { label: "AC", value: "ac" },
      { label: "AL", value: "al" },
      { label: "AP", value: "ap" },
      { label: "AM", value: "am" },
      { label: "BA", value: "ba" },
      { label: "CE", value: "ce" },
      { label: "DF", value: "df" },
      { label: "ES", value: "es" },
      { label: "GO", value: "go" },
      { label: "MA", value: "ma" },
      { label: "MG", value: "mg" },
      { label: "MS", value: "ms" },
      { label: "MT", value: "mt" },
      { label: "PA", value: "pa" },
      { label: "PB", value: "pb" },
      { label: "PE", value: "pe" },
      { label: "PI", value: "pi" },
      { label: "PR", value: "pr" },
      { label: "RJ", value: "rj" },
      { label: "RN", value: "rn" },
      { label: "RO", value: "ro" },
      { label: "RR", value: "rr" },
      { label: "RS", value: "rs" },
      { label: "SC", value: "sc" },
      { label: "SE", value: "se" },
      { label: "SP", value: "sp" },
      { label: "TO", value: "to" },
    ],

    path: "accountant"
  }),

  methods: {
    goTo(path) {
      this.$router.push({ name: path })
    },
  }
}
</script>

<style></style>