<template>
  <TheTitle title="Consulta de Contabilista" />
  <div class="card card-body">
    <TheTable :headers="headers" :items="items" :path="path" />
  </div>
</template>

<script>
import TheTitle from '@/components/views/TheTitle.vue'
import TheTable from '@/components/views/TheTable.vue'

export default {
  components: {
    TheTitle,
    TheTable,
  },

  data: () => ({
    headers: [
      { label: "Nome", value: "name" },
      { label: "CPF", value: "cpf" },
      { label: "E-mail", value: "mail" },
      { label: "Celular", value: "phone" },
    ],

    items: [
      {
        "id": 1,
        "name": "Jean Miotto",
        "cpf": "087.238.529-92",
        "mail": "jean.miotto@softwaresul.com.br",
        "phone": "(45) 99992 5057"
      },
      {
        "id": 2,
        "name": "Eduardo de Almeida Lima",
        "cpf": "012.345.678-90",
        "mail": "eduardo.almeida@softwaresul.com.br",
        "phone": "(45) 99999 9999"
      },
      {
        "id": 3,
        "name": "José Andres Telles Pereira",
        "cpf": "012.345.678-90",
        "mail": "jose.telles@softwaresul.com.br",
        "phone": "(45) 99999 9999"
      },
      {
        "id": 4,
        "name": "Vanderlei Junior Fornari",
        "cpf": "012.345.678-90",
        "mail": "vanderlei.fornari@softwaresul.com.br",
        "phone": "(45) 99999 9999"
      }
    ],

    path: "accountantNew",
  }),
}
</script>

<style>

</style>