<template>
  <div class="container-fluid">
    <div class="row">
      <TheMenu />
    </div>
  </div>
</template>

<script>
import TheMenu from '@/components/TheMenu.vue'

export default {
  components: {
    TheMenu,
  },
}
</script>

<style>
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.header_toggle,
.icon_action {
  cursor: pointer;
}

@media (max-width: 767px) {
  #sidebarToggle {
    display: none;
  }
}

@media (min-width: 768px) {
  #bt-togglevertical {
    display: none;
  }
}

@media screen {
  body #sidebarMenu {
    margin-left: 0;
    transition: 0.25s ease-out;
    overflow-x: hidden;
  }

  .sidebar-hidden {
    overflow-x: hidden;
    width: 0;
    padding: 0;
    margin: 0;
    transition: 0.25s ease-out;
  }
}

@media screen and (max-width: 767px) {
  body #sidebarMenu {
    transition: 0.25s ease-out;
  }
}
</style>
